version: "3.8"

services:
  mongo:
    container_name: mongodb_curso
    image: mongo:5.0.0
    volumes:
      - mongodb_curso:/data/db
    ports:
      - "27017:27017"
    networks:
      - docker-network
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 2048M

volumes:
  mongodb_curso:

networks:
  docker-network:
    external: true